@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: aceng;
  src: url("./fonts/Bubble\ Bobble.ttf");
}

h1 {
  color: white;
  text-shadow:
   -2px -2px 0 white,  
    2px -2px 0 white,
    -2px 2px 0 white,
     2px 2px 0 white;
}